.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #fff;
  padding: 40px;
  margin-top: 20px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.3);
}

.main-container .title {
  font-family: Ubuntu;
  color: #333;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.main-container .textarea-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #333;
}

.main-container .textarea-block label {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.main-container .textarea-block textarea {
  padding: 10px;
  color: #555;
  font-size: 1rem;
  border: 0;
  height: 200px;
  max-height: 400px;
  background: #eee;
  resize: none;
  outline: none;
  line-height: 1.5rem;
}

.main-container .button-block {
  width: 100%;
}

.main-container .button-block button {
  width: 100%;
  border: 0;
  margin-top: 20px;
  padding: 15px 0px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background: #28df99;
  outline: none;
  transition: 0.1s;
}

.main-container .button-block button:hover {
  background: #22b17a;
}

.main-container .button-block button:active {
  transform: scale(0.95);
}

.output-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
